<!--List of races user is interested / signed up for-->
<div class="jumbotron text-center">
<h1>User Home</h1>
    <h2>Races for {{username}}</h2>
</div>

<table class="table table-striped">
    {{#each userraces as |race| }}
        <tr>
            <td>
                {{race.racename }}
            </td>
            <td>
                {{race.racedate}}
            </td>
            <td>
                {{race.intentname}}
            </td>
            <td>
                <form method="POST" action="/delete">
                    <input type="hidden" value="{{race.raceid}}" name="raceid">
                    <button type="submit" class="btn btn-danger btn-xs">Delete Race</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>